In [2]:
from rdflib import Graph
g = Graph().parse('../03-development/fno-builtins.n3', format='n3')

https://www.w3.org/2009/Talks/0615-qbe/

https://docs.data.world/tutorials/sparql/list-of-sparql-filter-functions.html

### crypto

#### crypto:sha()
http://rdf.greggkellogg.net/yard/SPARQL/Algebra/Operator/SHA1.html

In [8]:
query = """

PREFIX : <http://example.org/>
SELECT (sha1(?o) AS ?hash) 
WHERE {
    crypto:sha a fno:Function ;
    dcterms:comment ?o
}
"""
[row.hash.toPython() for row in g.query(query)]

['eca51196c35b042302d1ada4dc0897de822826b7']

### list

In [3]:
query = """@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> . 
@prefix :   <:> .

:myList :contents _:b1 .

_:b1 rdf:first "one" .
_:b1 rdf:rest _:b2 .

_:b2 rdf:first "two" .
_:b2 rdf:rest _:b3 .

_:b3 rdf:first "three" .
_:b3 rdf:rest _:b4 .

_:b4 rdf:first "four" .
_:b4 rdf:rest _:b5 .

_:b5 rdf:first "five" .
_:b5 rdf:rest rdf:nil .
"""
l = Graph().parse(data=query, format='turtle')
l.print()

@prefix : <:> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .

:myList :contents ( "one" "two" "three" "four" "five" ) .

#### list:append()
https://afs.github.io/rdf-lists-sparql
http://www.snee.com/bobdc.blog/2014/04/rdf-lists-and-sparql.html

In [ ]:
query = """
PREFIX :    <:> 
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 

DELETE {
  ?insertionPoint rdf:rest ?rest . 
}
INSERT {
  _:b1 rdf:first "threePointFive" ; rdf:rest ?rest . 
  ?insertionPoint rdf:rest _:b1 . 
}
WHERE {
  :myList :contents/rdf:rest/rdf:rest/rdf:first ?item .
  ?insertionPoint rdf:first ?item ; rdf:rest ?rest . 
}
"""
l.update(query)
l.print()

#### list:first()

In [12]:
query = """
prefix d: <:> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

select ?member 
where { 
    :myList :contents/rdf:first ?member
}
"""
[row.member.toPython() for row in l.query(query)]

['one']

#### list:in() and list:member()

https://stackoverflow.com/questions/35027230/find-lists-containing-all-values-in-a-set

In [69]:
query = """
prefix : <:> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

ask {
  :myList :contents/rdf:rest*/rdf:first ?t .
  filter(?t in ("three"))
}
"""
l.query(query).askAnswer

True

#### list:iterate()

#### list:last()

In [159]:
query = """
prefix d: <:> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

select ?member 
where { 
    :myList :contents/rdf:rest*/rdf:rest ?rest .
    ?rest rdf:first ?member ;
        rdf:rest rdf:nil .
}
"""
[row.member.toPython() for row in l.query(query)]

['five']

#### list:length()

In [19]:
query = """
prefix d: <:> 
prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

select (count(?member) as ?result)
where { 
    :myList :contents/rdf:rest*/rdf:first ?member
}
"""
[row.result.toPython() for row in l.query(query)]

[5]

#### list:remove()

### log

#### log:conclusion()

#### log:conjunction()

#### log:content()

#### log:dtlit()

In [484]:
query = """
    select (datatype(?variable) as ?result)
    where {
        # bind(1 as ?variable)
        # bind(1.0 as ?variable)
        # bind("1" as ?variable)
        # bind(true as ?variable)
        # bind("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime as ?variable)
        # bind(<http://www.example.com>) as ?variable)        
    }
"""
[row.result.toPython() for row in l.query(query)]

[]

#### log:equalTo()

In [486]:
query = """
    select (sameTerm(?a,?b) as ?result)
    where {
        bind(<http://example.com> as ?a)
        bind(<http://example.com> as ?b)

    }
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### log:includes()

#### log:notEqualTo()

In [488]:
query = """
    select (!sameTerm(?a,?b) as ?result)
    where {
        bind(<http://example.com> as ?a)
        bind(<http://eample.com> as ?b)

    }
"""
[row.result.toPython() for row in l.query(query)][0]

True

#### log:notIncludes()

#### log:outputString()

#### log:parsedAsN3()

#### log:rawType()

In [455]:
query = """
    select (datatype("http://example.com") as ?result)
    where {}
"""
[row.result.toPython() for row in l.query(query)]
# query = """
#     select (datatype(<http://example.com>) as ?result)
#     where {}
# """
# [row.result.toPython() for row in l.query(query)]

['http://www.w3.org/2001/XMLSchema#string']

#### log:semantics()

#### log:semanticsOrError()

#### log:uri()

In [11]:
query = """
    select (str(<http://example.com>) as ?result)
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

'http://example.com'

### math

https://github.com/w3c/sparql-12/wiki/Extending-the-lists-of-expected-functions-taken-from-new-versions-of-XPath-and-XQuery

#### math:absoluteValue()

In [196]:
query = """
    select (abs(4.35) as ?value )
    where {}   
"""
[row.value.toPython() for row in l.query(query)]

[Decimal('4.35')]

#### math:cos()

#### math:degrees()

#### math:difference()

#### math:exponentation()

In [8]:
query = """
select (?a*?a*?a as ?value)
where {
    bind(15 as ?a)
}
"""
[row.value.toPython() for row in l.query(query)]

[Decimal('3375')]

#### math:negation()

In [4]:
query = """
select (-?a as ?value)
where {
    bind(15 as ?a)
}
"""
[row.value.toPython() for row in l.query(query)]

[-15]

#### math:product()

haven't found an easy way to create a product from recursing a list of numbers

In [ ]:
query = """
select ?product
where {
    :myList :contents ?list.
    ?list rdf:rest*/rdf:first ?member .
    bind (1 as ?product)
    bind(?product*?member as ?product)
    }
   
"""
[row for row in m.query(query)]

#### math:quotient()

In [5]:
query = """
select (?a/?b as ?value)
where {
    bind(15 as ?a)
    bind(2 as ?b)
}
"""
[row.value.toPython() for row in l.query(query)]

[Decimal('7.5')]

#### math:remainder()

In [471]:
query = """
select (abs(?a/?b) as ?value)
where {
    bind(15 as ?a)
    bind(2 as ?b)
}
"""
[row.value.toPython() for row in l.query(query)]

[Decimal('7.5')]

#### math:rounded()

In [174]:
query = """
    select (round(4.35) as ?value )
    where {}   
"""
[row.value.toPython() for row in l.query(query)]

[4]

#### math:sin()

#### math:sinh()

#### math:sum()

In [209]:
query = """
select (sum(?p) as ?value)
where
{ values ?p { 1 2 3 4 5 } }
"""
[row.value.toPython() for row in l.query(query)]

[15]

#### math:tan()

#### math:tanh()

### string

#### string:concatenation()

In [474]:
query = """
    SELECT (concat("Hello", " ", "World") as ?result)
    WHERE {}
"""
[row.result.toPython() for row in l.query(query)][0]

'Hello World'

#### string:contains()

In [445]:
query = """
    select (contains('http://example.com', ".com") as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### string:containsIgnoringCase()

In [378]:
query = """
    select (contains(lcase('http://example.com'), lcase(".com")) as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### string:endsWith()

In [379]:
query = """
    select (strends(lcase('http://example.com'), lcase(".com")) as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

True

#### string:equalIgnoringCase()

In [419]:
query = """
    select ((lcase('http://example.com') = lcase(".com")) as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### string:greaterThan()

In [ ]:
# query = """
#     #select (("two">"one") as ?result) 
#     select (("three">"two") as ?result) 
#     where {}
# """
# [row.result.toPython() for row in l.query(query)][0]

#### string:length()

In [5]:
query = """
    select (strlen("two") as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

3

#### string:lessThan()

In [422]:
# query = """
#     select (("two"<"one") as ?result) 
#     #select (("one"<"two") as ?result) 
#     where {}
# """
# [row.result.toPython() for row in l.query(query)][0]

False

#### string:matches()

In [396]:
query = """
    select (regex("http://example.com", "^http://$") as ?result)
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### string:notEqualIgnoringCase()

In [10]:
query = """
    select (!(lcase(".com") = lcase(".com")) as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

#### string:notGreaterThan()

In [428]:
# query = """
#     select (("sillyme"<"one") as ?result) 
#     #select (("one"<"two") as ?result) 
#     where {}
# """
# [row.result.toPython() for row in l.query(query)][0]

False

#### string:notLessThan()

In [434]:
# query = """
#     #select (!("two">"one") as ?result) 
#     select (!("three">"two") as ?result) 
#     where {}
# """
# [row.result.toPython() for row in l.query(query)][0]

True

#### string:notMatches()

In [439]:
query = """
    select (!regex("http://example.com", "^http://$") as ?result)
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

True

#### string:replace()

In [16]:
query = """
    select (replace('http://example.com', 'http:' ,'urn:') as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

'urn://example.com'

#### string:scrape()

https://stackoverflow.com/questions/51652831/how-to-extract-a-substring-using-a-regular-expression

In [ ]:
# this works in Sparql Playground but not in Python RDFLib
# https://sparql-playground.sib.swiss/?query=%20%20%20%20select%20(replace(%27some%20interesting%20%7Bfoo123:bar_675:get_me.xyz%7D%20string%27,%20%22%5E.*%5C%5C%7B.*:(.*)%5C%5C%7D.*$%22,%20%22$1%22)%20as%20%3Fresult)%20%0A%20%20%20%20where%20%7B%7D&output=html
query = """
    select (replace('some interesting {foo123:bar_675:get_me.xyz} string', "^.*\\{.*:(.*)\\}.*$", "$1") as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

#### string:startsWith()

In [17]:
query = """
    select (strstarts(lcase('http://example.com'), lcase("htp:")) as ?result) 
    where {}
"""
[row.result.toPython() for row in l.query(query)][0]

False

### time

#### time:day()

In [350]:
query = """
select (day("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[16]

#### time:month()

In [352]:
query = """
select (month("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[12]

#### time:year()

In [351]:
query = """
select (year("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[2022]

### time:hours()

In [6]:
query = """
select (hours("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[14]

### time:minutes()

In [7]:
query = """
select (minutes("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[45]

### time:seconds()

In [8]:
query = """
select (seconds("2022-12-16T14:45:13.815-05:00"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

[13]

### time:timeZone()

In [13]:
query = """
select (tz("2022-12-16T14:45:13.815-05:00Z"^^xsd:dateTime) as ?value)
where {}
"""
[row.value.toPython() for row in l.query(query)]

['-05:00']